<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Util home...</title>
</head>
<body>
<h1>Welcome to Text analyser. <br>Enter the text below</h1>
<form action='/analyze' method='get'>
    <textarea name="text" style='width: 1423px; height: 213px;'></textarea><br>
    <input type="checkbox" name="removepunc"> Remove Punctuations <br>
    <input type="checkbox" name="fullcaps"> Full CAPS <br>
    <input type="checkbox" name="newlineremover"> New Line remove <br>
    <input type="checkbox" name="spaceremove"> Space remove <br>
    <input type="checkbox" name="charactercounter"> Character Counter <br>
    <button type="submit">Analyse Text</button>
</form>
</body>
</html>